@CHARSSET "UTF-8";

body {
    font:14px/1.8 "함초롬돋움", Helvetica, sans-serif;
}
.frame {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #aaa;
}
.header {
    margin: 20px 20px 0;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}
.logo {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
}
#logoImg {
    width: 30px;
    height: 30px;
}
.nav {
    float: left;
    width: 15%;
    background: #333;
    color: #fff;
    margin-right: 5%;
    margin-bottom: 20px;
}
.nav ul ul {
    display: none;
}
.nav ul>li:hover ul{
    display: block;
    background: #333;
}
.navList {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.navContent {
    margin: 4px 0;
}
.navLink, .subtitle {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
}
.navLink:hover {
    background: #54dbde;
}
.content {
    float: right;
    width: 80%;
    margin-bottom: 20px;
}
.footer {
    text-align: center;
    border-top: 1px solid #aaa;
    margin: 20px 20px 0;
    font-size: 12px;
    clear: both;
    height: 12%;
}
